{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<h3 class="mt-3 mb-3">Вход в систему</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary btn-sm mt-3 mb-3">Войти</button>
</form>

<p>
    <a href="{% url 'Users:password_reset' %}">Забыли пароль?</a>
</p>


{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}