{% extends 'base.html' %}

{% block title %}Статистика Пользователя{% endblock %}

{% block content %}
<h3 class="mt-3 mb-3">Статистика Пользователя: {{ user.username }}</h3>

{% if user_statistics %}
    <table class="table">
        <thead>
            <tr>
                <th>Дата рассылки</th>
                <th>Успешные попытки</th>
                <th>Неуспешные попытки</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in user_statistics %}
                <tr>
                    <td>{{ stat.mailing__datetime_start }}</td>
                    <td>{{ stat.total_success }}</td>
                    <td>{{ stat.total_failed }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Нет данных</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Нет данных для отображения.</p>
{% endif %}
{% endblock %}
