{% extends 'base.html' %}
{% block title %} Категория {% endblock %}
{% block content %}
<h3 class="mt-3 mb-3">Детали категории: {{ category_detail.name }}</h3>
<div class="row">
  <div class="coll-md-4">
    {% if category.photo %}
    <img src="{{ category_detail.photo.url }}" alt="{{ category_detail.name }}" class="img-fluid">
        {% else %}
            <p>Фото не загружено.</p>
        {% endif %}
    </div>
    <div class="col-md-8">
        <p><strong>ID:</strong> {{ category_detail.id }}</p>
        <p><strong>Наименование:</strong> {{ category_detail.name }}</p>
        <p><strong>Описание</strong> {{ category_detail.description }}</p>
    </div>
</div>
<a href="{% url 'products:category_list' %}" class="btn-sm btn-secondary mt-3">Назад к списку категорий</a>
{% endblock %}
