{% extends 'base.html' %}
{% block title %} Список Клиентов {% endblock %}
{% block content %}
{{ form.errors }}
<div class="mt-4 mb-3 text-center">
    <h3>Список клиентов</h3>
</div>
<a href="{% url 'clients:client_add' %}" class="btn btn-outline-custom mb-3">Добавить клиента</a>
<div class="table-responsive">
<table class="table table-hover align-middle mailing-table">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">ИМЯ</th>
            <th class="text-center">Email</th>
            <th class="text-center">Комментарий</th>
            <th class="text-center">Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for client in list_clients %}
        <tr>
            <td class="text-center">{{client.id}}</td>
            <td class="text-center">{{client.name}}</td>
            <td class="text-center">{{client.email}}</td>
            <td class="text-center">{{client.comment}}</td>
            <td class="text-center">
                                        <div class="d-flex flex-wrap gap-2 justify-content-center">
                <a href="{% url 'clients:client_update' client.pk %}" class="btn btn-outline-custom btn-sm">Редактировать</a>
                <a href="{% url 'clients:client_delete' client.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                                            </div>
            </td>
        </tr>
    {% empty %}
    <tr>
            <td colspan="5" class="text-center">Нет клиентов для отображения.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


