{% extends 'base.html' %}

{% block title %}Статистика рассылок{% endblock %}

{% block content %}
<div class="d-flex align-items-center mt-3 mb-3">
    <a href="{% url 'clients:user_profile' %}" class="btn btn-outline-custom me-3">
        ← Назад
    </a>
</div>
    <h3 class="text-center mb-5 mt-5">Статистика рассылок</h3>

{% if statistic %}
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th class="text-center">Рассылка</th>
                <th class="text-center">Пользователь</th>
                <th class="text-center">Успешно</th>
                <th class="text-center">Ошибки</th>
                <th class="text-center">Всего</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in statistic %}
                <tr>
                    <td>
                        <strong>{{ stat.mailing__message__header }}</strong><br>
                        <small class="text-muted">Статус: {{ stat.mailing__status }}</small>
                    </td>
                    <td class="text-center text-success">{{ stat.user__username }}</td>
                    <td class="text-center text-success">{{ stat.total_success }}</td>
                    <td class="text-center text-danger">{{ stat.total_failed }}</td>
                    <td class="text-center">{{ stat.total_success|add:stat.total_failed }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="text-center mt-5">
    <p class="text-muted">Нет данных для отображения</p>
    </div>
{% endif %}
{% endblock %}
