{% extends 'base.html' %}
{% block title %} Отправление рассылок {% endblock %}
{% block content %}
<h3 class="mt-3 mb-2">Отправка рассылки</h3>

<form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
        {{ form.datetime_start.label }}
        {{ form.datetime_start }}
        {{ form.datetime_start.errors }}
    </div>

    <div class="form-group">
        {{ form.datetime_end.label }}
        {{ form.datetime_end }}
        {{ form.datetime_end.errors }}
    </div>

    <div class="form-group">
        {{ form.status.label }}
        {{ form.status }}
        {{ form.status.errors }}
    </div>

    <div class="form-group">
        {{ form.message.label }}
        {{ form.message }}
        {{ form.message.errors }}
    </div>

    <div class="form-group">
        {{ form.recipients.label }}
        {{ form.recipients }}
        {{ form.recipients.errors }}
    </div>


    <button type="submit" class="btn btn-primary btn-sm mt-3 mb-3">Отправить рассылку</button>
    <a href="{% url 'clients:mailing_list' %}" class="btn btn-secondary btn-sm mt-3 mb-3">Отмена</a>
</form>

{% endblock %}