{% extends 'base.html' %}
{% block title %}Список рассылок{% endblock %}

{% block content %}
<div class="container mt-3">
    <button onclick="history.back()" class="btn btn-outline-custom btn-sm me-3">
        ← Назад
    </button>
<div class="mt-4 mb-3 text-center">
    <h4 class="mb-0">Мои рассылки</h4>
</div>

    <a href="{% url 'clients:mailing_add' %}" class="btn btn-outline-custom btn-sm mb-3">
        Создать рассылку
    </a>
<div class="table-responsive">
    <table class="table table-hover align-middle mailing-table">
        <thead>
            <tr>
<!--                <th class="text-center">ID</th>-->
                <th class="text-center">Начало</th>
                <th class="text-center">Окончание</th>
                <th class="text-center">Статус</th>
                <th>Сообщение</th>
                <th>Получатели</th>
                <th class="text-center">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for mail in list_mailing %}
            <tr>
<!--                <td class="text-center">{{ mail.id }}</td>-->
                <td class="text-center">{{ mail.datetime_start|date:"d.m.Y H:i" }}</td>
                <td class="text-center">{{ mail.datetime_end|date:"d.m.Y H:i" }}</td>
                <td class="text-center">{{ mail.status }}</td>
                <td>
                    <strong>{{ mail.message.header }}</strong>
                </td>
                <td>
                    {% for recipient in mail.recipients.all %}
                        {{ recipient.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        <span class="text-muted">Нет получателей</span>
                    {% endfor %}
                </td>
                <td class="text-center">
                                        <div class="d-flex flex-wrap gap-2 justify-content-center">

                        <a href="{% url 'clients:mailing_update' mail.id %}" class="btn btn-outline-custom btn-sm">
                            Редактировать
                        </a>

                        <a href="{% url 'clients:mailing_delete' mail.id %}" class="btn btn-outline-custom btn-sm">
                            Удалить
                        </a>

                        {% if mail.status != 'completed' and mail.status != 'closed' %}
                        <form method="post" action="{% url 'clients:mailing_send' mail.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">
                            Отправить
                        </button>
                        </form>
                        {% endif %}

                        {% if user.role == 'manager' %}
                        <form method="get" action="{% url 'clients:deactivate_mailing_confirm' mail.id %}">
                            {% csrf_token %}
                            <button type="submit" class="link-button">
                                Отключить
                            </button>
                        </form>
                        {% endif %}

                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center text-muted py-4">
                    Нет рассылок для отображения.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    </div>
{% endblock %}