{% extends 'base.html' %}

{% block title %}Сформировать файл{% endblock %}

{% block content %}
<div class="container mt-3">
    <button onclick="history.back()" class="btn btn-outline-custom btn-sm me-3">
        ← Назад
    </button>

{% if client %}
    <h4 class="mt-3 mb-3">Сформировать предложение для: {{ client.name }}</h4>
{% else %}
    <h4 class="mt-3 mb-3">Сформировать Excel-файл</h4>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn-save btn-sm mt-3 mb-3">Сформировать файл</button>
    <a href="{% url 'clients:user_profile' %}" class="btn btn-outline-custom btn-sm mt-3 mb-3">Отмена</a>
</form>
</div>
{% endblock %}