{% extends 'base.html' %}
{% block title %} Редактировать профиль {% endblock %}
{% block content %}
<h3 class="mt-3 mb-2">Редактирование</h3>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-group">
        <label for="{{ form.avatar.id }}">Аватар:</label>
        {% if user_profile.avatar %}
            <img src="{{ user.avatar.url }}" alt="Аватар" style="width: 200px; height: 200px; border-radius: 80%;">
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary btn-sm mt-3 mb-3">Сохранить</button>
    <a href="{% url 'clients:user_profile' %}" class="btn btn-secondary btn-sm mt-3 mb-3">Отмена</a>
</form>
{% endblock %}