{% load i18n %}{% autoescape off %}
{% blocktranslate %}Вы получили это письмо, потому что запросили сброс пароля для Вашей учетной записи на {{ site_name }}.{% endblocktranslate %}

{% translate "Пожалуйста, перейдите по следующей ссылке и выберите новый пароль:" %}
{{ protocol }}://{{ domain }}{% url 'Users:password_reset_confirm' uidb64=uid token=token %}
{% translate 'Если Вы забыли, вы:' %} {{ user.get_username }}

{% translate "Спасибо за использование нашего сайта!" %}
{% blocktranslate %}Команда {{ site_name }}{% endblocktranslate %}
{% endautoescape %}
