{% extends 'base.html' %}

{% block title %}Счета клиента{% endblock %}

{% block content %}

<div class="container mt-4">
    <button onclick="history.back()" class="btn btn-outline-custom btn-sm me-3">
        ← Назад
    </button>

    <h4 class="mt-4 mb-4">Счета клиента: {{ client }}</h4>

<table class="table table-hover align-middle mailing-table">
        <thead>
            <tr>
                <th>№</th>
                <th>Дата</th>
                <th>Сумма</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoices %}
                <tr>
                    <td>{{ invoice.number }}</td>
                    <td>{{ invoice.created_at }}</td>
                    <td>{{ invoice.get_total_with_vat }}</td>
                    <td>
    <div class="d-flex gap-2">
        <a href="{{ invoice.file.url }}"
   target="_blank"
   class="btn btn-outline-custom btn-sm mt-3 mb-3">
    Предпросмотр
</a>

            {% if not invoice.is_sent %}
    <form method="post" action="{% url 'documents:invoice_send' invoice.id %}">
        {% csrf_token %}
        <button type="submit" class="btn-save btn-sm mt-3 mb-3">
            Отправить
        </button>
    </form>
{% else %}
    <span class="text-success mt-3 mb-3">✔ Отправлено</span>
{% endif %}

         {% if invoice.file %}
            <a href="{{ invoice.file.url }}" class="btn btn-outline-custom btn-sm mt-3 mb-3">
                Скачать
            </a>
        {% else %}
            <span class="text-muted">Нет файла</span>
        {% endif %}
</form>

        <form method="post"
              action="{% url 'documents:invoice_delete' invoice.id %}">
            {% csrf_token %}
            <button type="submit" class="btn-save btn-sm mt-3 mb-3">
                Удалить
            </button>
        </form>

    </div>
</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Нет счетов</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}